.footer {
  display: none;
}

.footer a:hover {
  color: white;
}

.footer a {
  text-align: center;
  cursor: pointer;
  width: 72px;
  color: #9e9e9e;
  text-decoration: none;
  font-size: 0.8rem;
}
.footer a:hover {
  color: white;
}

.active p {
  color: #386fa4;
}

.active img {
  border: 2px solid #386fa4;
  border-radius: 50%;
}

@media (max-width: 750px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0.3rem 1rem;
    background-color: #0a151e;
    position: sticky;
    bottom: 0;
    z-index: 1000;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}
