.notifications__section {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notifications__section > header {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 1rem;
}

.notifications__list {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  margin: 1rem;
  width: 98%;
}

.notification {
  width: 100%;
  padding: 1.5rem 1rem;
  position: relative;
}

.notification__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.notification__info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.notification__info .duration {
  display: flex;
  gap: 0.3rem;
  font-size: 0.8rem;
  align-items: center;
}

.notification__text > p {
  display: flex;
  gap: 0.3rem;
}

.notification__text p > span:last-child {
  color: #9e9e9e;
}

.notification__avatar {
  max-width: 3rem;
}

.notification__reaction {
  padding: 0.6em 1.4rem;
  font-size: 0.9rem;
  margin-right: 3rem;
  border-radius: 3rem;
  border: 1px solid #386fa4;
  color: #386fa4;
  background: transparent;

  cursor: pointer;
}

.notification__extra {
  margin: 1rem;

  margin-left: 4rem;
}

.interested {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  padding: 1rem;
  font-size: 0.9rem;
  width: max-content;
}

.interested button {
  padding: 0.6em 1.4rem;
  font-size: 0.9rem;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
}

.interested button:first-child {
  background-color: white;
  color: #386fa4;
}

.interested button:last-child {
  background-color: #386fa4;
  color: white;
}

@media (max-width: 750px) {
  .notifications__section {
    margin: 0.6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .notifications__section > header {
    width: 100%;
    border: none;
    padding: 0rem;
    /* border-radius: 0.6rem; */
  }

  .notifications__section > header h2 {
    font-size: 1.2rem;
  }

  .notifications__list {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0;
    /* margin: 1rem; */
    width: 100%;
  }

  .notification {
    width: 100%;
    padding: 0.8rem 0.6rem;
    position: relative;
  }

  .notification__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .notification:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .notification__info {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  .notification__info .duration {
    display: flex;
    gap: 0.3rem;
    font-size: 0.8rem;
    align-items: center;
  }

  .notification__text > p {
    font-size: 0.9rem;
  }

  .notification__text p > span:last-child {
    color: #9e9e9e;
  }

  .notification__avatar {
    max-width: 3rem;
  }

  .notification__reaction {
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
    margin-right: 1rem;
    border-radius: 3rem;
    border: 1px solid #386fa4;
    color: #386fa4;
    background: transparent;

    cursor: pointer;
  }

  .notification__extra {
    margin: 1rem 0;
    margin-left: 0.5rem;
  }

  .interested {
    gap: 0.6rem;
    border-radius: 0.6rem;
    padding: 0.6rem;
    font-size: 0.8rem;
  }

  .interested button {
    padding: 0.6em 1rem;
    font-size: 0.8rem;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
  }

  .interested button:first-child {
    background-color: white;
    color: #386fa4;
  }

  .interested button:last-child {
    background-color: #386fa4;
    color: white;
  }

  .notification .beep {
    width: 90vw;
    margin: 0px 0px;
  }
}
