.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 1px solid red; */
  width: 25vw;
  padding-top: 3rem;
  padding-left: 5rem;
  min-width: 325px;
  /* font-size: 0.9rem; */
}

.side-nav {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 1rem;
  cursor: pointer;
}

.side-nav:hover {
  color: #386fa4;
}

@media (max-width: 750px) {
  .sidebar {
    display: none;
  }
}
