.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding-top: 1rem;
  padding-left: 1.5rem;
  font-size: 1.2rem;
  position: sticky;
  left: 0;
  top: 67px;
  align-self: flex-start;
}

.side-nav {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.8rem;
  padding-left: 0;
  cursor: pointer;
}

.side-nav:hover {
  color: #386fa4;
}

.sidebar img {
  margin-top: 4rem;
  margin-left: 1rem;
}

@media (max-width: 750px) {
  .sidebar {
    display: none;
  }
}
