.overlay {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 1000;
}

.overlay_wrapper {
  position: sticky;
  top: 0;
}

.overlay_cover {
  position: sticky;
  background-color: rgba(41, 91, 133, 0.23);
  width: 100%;
  height: 100vh;
  top: 0;
}

.overlay_component {
  position: absolute;
  left: 50%;
  top: 20vh;
  transform: translateX(calc(-90px - 50%));
}
