.beep {
  border-bottom: 4px solid #000;
  max-width: 550px;
  margin: 1rem auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.beep__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.beeper__info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.beeper__avatar {
  width: 2.8rem;
}

.beeper__name p {
  display: flex;
  gap: 0.4rem;
}

.beeper__name p:last-child {
  color: #9e9e9e;
  font-size: 0.9rem;
}

.beeper__name p > span:last-child {
  color: #9e9e9e;
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.beep__img {
  max-width: 548px;
}

.beep > p {
  margin: 1rem;
  text-align: left;
}

.beep > p > span {
  color: #9e9e9e;
  cursor: pointer;
}

.beep__engage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #9e9e9e;
  padding: 1rem;
}

.engage_btns {
  display: flex;
  gap: 2rem;
}

.engage_btns button {
  align-items: center;
  display: flex;
  gap: 0.4rem;
  font-size: 0.75rem;
  line-height: normal;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
}

@media (max-width: 750px) {
  .beep {
    width: 95vw;
    margin: 0.4rem auto;
  }

  .beep__header {
    margin: 0.6rem;
  }

  .beep__header .beep-avatar {
    width: 35px;
  }

  .beep > p {
    margin: 0.6rem;
    font-size: 0.9rem;
  }

  .beep > p > span {
    color: #9e9e9e;
  }
  .beep__img {
    width: calc(95vw - 2px);
  }
  .beep__engage {
    padding: 0.8rem 0.5rem;
  }

  .engage_btns {
    display: flex;
    gap: 1rem;
  }
  .engage_btns p {
    font-size: 0.6rem;
  }

  .beeper__name p {
    font-size: 0.8rem;
  }

  .beeper__name p:last-child {
    font-size: 0.7rem;
  }
}

.reply_prompt {
  background-color: #0a151e;
  padding: 1rem;
  border-radius: 0.5rem;
}

.reply_prompt textarea {
  margin: 1rem 0;
  border: none;
  width: 30rem;
  background-color: #0a151e;
  color: #fff;
}

.reply_prompt textarea:focus {
  outline: none;
}

.prompt_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prompt_extras {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.prompt_extras img {
  cursor: pointer;
}

.prompt_actions button {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background: #386fa4;
  border: none;
  border-radius: 3rem;
  color: white;
  padding: 0.6rem 1rem;
  cursor: pointer;
}

.textarea {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
}

.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
}

.textarea[contenteditable]:empty::before {
  content: "Placeholder still possible";
  color: gray;
}

@media (max-width: 750px) {
  .reply_prompt {
    background-color: #0a151e;

    padding: 1rem;
    border-radius: 0.5rem;
  }

  .reply_prompt textarea {
    margin: 1rem 0;
    border: none;
    width: 80vw;
  }

  .prompt_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .prompt_extras {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .prompt_extras img {
    cursor: pointer;
  }

  .prompt_actions button {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    background: #386fa4;
    border: none;
    border-radius: 3rem;
    color: white;
    padding: 0.6rem 1rem;
    cursor: pointer;
  }
}
