.beep {
  border-bottom: 4px solid #000;
  max-width: 550px;
  margin: 1rem auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.beep__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.beeper__info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.beeper__avatar {
  width: 2.8rem;
}

.beeper__name p {
  display: flex;
  gap: 0.4rem;
}

.beeper__name p:last-child {
  color: #9e9e9e;
  font-size: 0.9rem;
}

.beeper__name p > span:last-child {
  color: #9e9e9e;
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.beep__img {
  max-width: 548px;
}

.beep > p {
  margin: 1rem;
  text-align: left;
}

.beep > p > span {
  color: #9e9e9e;
  cursor: pointer;
}

.beep__engage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #9e9e9e;
  padding: 1rem;
}

.engage_btns {
  display: flex;
  gap: 2rem;
}

.engage_btns button {
  align-items: center;
  display: flex;
  gap: 0.4rem;
  font-size: 0.75rem;
  line-height: normal;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
}

@media (max-width: 750px) {
  .beep {
    width: 95vw;
    margin: 0.4rem auto;
  }

  .beep__header {
    margin: 0.6rem;
  }

  .beep__header .beep-avatar {
    width: 35px;
  }

  .beep > p {
    margin: 0.6rem;
    font-size: 0.9rem;
  }

  .beep > p > span {
    color: #9e9e9e;
  }
  .beep__img {
    width: calc(95vw - 2px);
  }
  .beep__engage {
    padding: 0.8rem 0.5rem;
  }

  .engage_btns {
    display: flex;
    gap: 1rem;
  }
  .engage_btns p {
    font-size: 0.6rem;
  }

  .beeper__name p {
    font-size: 0.8rem;
  }

  .beeper__name p:last-child {
    font-size: 0.7rem;
  }
}
